#{extends 'mainOwnCourse.html' /}
#{set title:'Home' /}

    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
   
<div class="container">   
	<div class="row">	
	#{leftMenu course:course, isActive:'3' /}
		<div class="span8">
			<div class="b-box">
			<div class="b-box__header"><h3>Homework</h3></div>
			<div class="b-box__content">
				<h2>${homework?.topic}</h2>
				<p>${homework?.title}</p>
				#{if homework.due_date}
					<p>Due ${homework?.due_date.format('dd MMM HH:mm:ss')}</p>
				#{/if}
				#{verbatim}
					${homework?.text}
				#{/verbatim}
				#{list items:homework.files, as:'f'}
					<p>
						<span><a href="@{MyOwnCourse.downloadFile(f.id)}">${f.fileName}</a></span>
						<span><a style="color: red;" href="@{MyOwnCourse.deleteHomeworkFile(course.id, homework.id, f.id)}">delete</a></span>
					</p>
				#{/list}
			</div>
			</div>
			
			#{if course?.user?.email == session.email}
			<div class="b-box">
			<div class="b-box__header"><h3>Assigned homeworks</h3></div>
			<div class="b-box__content">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					    <tr>
						      <th>email/username</th>
						      <th>Score number</th>
						      <th>Pass</th>
						      <th>File name</th>
					    </tr>
					</thead>
				  	<tbody>
				  		#{list items:userHomeworks, as:'a'}
				    	<tr>
					      	<td>
					      		<a id="edit" data-toggle="modal" href="#myModal" onclick="edit(${a.id},${a.score},${a.pass})">${a.user}	</a>											
							</td>
					      	<td>
					      		${a.score}
					      	</td>
					      	<td>
					      		${a.pass}
					      	</td>
					      	<td>
					      		<span><a href="@{MyOwnCourse.downloadFile(a.id)}">${a.fileName}</a></span>
					      		#{if a.fileName.contains(".js") || a.fileName.contains(".java")}
					      			<span><a style="color: green;" href="@{MyOwnCourse.editor(a.id)}">Editor</a></span>
								#{/if}
								<span><a style="color: red;" href="@{MyOwnCourse.deleteUserHomeworkFile(course.id, homework.id, a.id)}">delete</a></span>
					      	</td>
				    	</tr>
				    	#{/list}
				  	</tbody>
				</table>
			</div>
			</div>
			
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	            <div class="modal-header">
	            	<a class="close" data-dismiss="modal">×</a>
	              	<h3 id="myModalLabel">Check</h3>
	            </div>
	             <form action="@{MyOwnCourse.editUserHomework()}" class="form-horizontal">			             
		         	<div class="modal-body">                 	
		            	<div class="control-group">
					    	<label class="control-label" for="score">Score</label>
					    	<div class="controls">
					      		<input type="text" id="userScore" name="score" placeholder="Score for this question">
					   		</div>
					  	</div>
					  	<div class="control-group">
					    	<label class="control-label" for="userPass">Pass</label>
					    	<div class="controls">
					    		<input type="checkbox" name="pass" id="userPass" checked="false"/>										      		
					   		</div>
					  	</div>
					  	<input type="hidden" name="courseId" value="${course.id}">
					  	<input type="hidden" name="homeworkId" value="${homework.id}">
					  	<input type="hidden" id="userHomeworkId" name="userHomeworkId" value="">            		                 						   				
					</div>
		            <div class="modal-footer">
		            	<button class="btn" data-dismiss="modal">Close</button>
		            	<button type="submit" class="btn btn-primary">Add Question</button>
		            </div>	    	
	            </form>			            
	        </div>
			#{/if}
			#{else}
			<div class="b-box">
			<div class="b-box__header"><h3>Pass homework</h3></div>
			<div class="b-box__content">
				<form action="@{MyOwnCourse.addUserHomework()}" method="post" class="b-discussion-reply-form_global" enctype="multipart/form-data">
					<div class="b-discussion-comment__header">						
						<label class="control-label" for="file">Upload file</label>
						<input type="file" id="file" name="file" />	
						<input type="hidden" name="courseId" value="${course.id}" />
			            <input type="hidden" name="homeworkId" value="${homework.id}" />  
					</div>					
		            <div class="b-discussion-comment__footer">
		            	<button type="submit" class="btn btn-primary btn-mini" value="Send">Send</button>
		            </div>      		            
	            </form>
			</div>
			</div>
			#{/else}
			
	        
	        <div class="b-box" id="discussion">
            <div class="b-box__header"><h3>Discussion</h3></div>
	            <div class="b-box__content">
					<div class="b-discussion-container b-discussion-container_not-empty" discussionid="1585">
						<ul class="b-discussion unstyled">
							#{list items:homework.comments, as:'c'}
							#{if !c.parent?.id}
							<li class="b-discussion-comment" id="comment_${c.id}">
								<div style="margin-bottom:6px">
									<img class=" b-discussion-comment__userpic b-user__profile-pic_45" 
									src="@{Application.userPhoto(c.user.id)}" width="45" height="45">				      								    
				            		<div class="b-discussion-comment__header">
										<a href="" data-user="3299" data-json="" data-path="/ajax/user/getUserInfo" class="b-discussion-comment__header__username" data-original-title="Sultan ">Sultan </a>
										<small style="margin-left: 5px;"><a href="#comment_14708" class="anchor" title="Permalink to this comment">14 minutes ago</a></small>
										<a href="#" class="b-discussion-comment__header__delete" commentid="14708" style="display: none;">✕</a>        
									</div>
									<p class="b-discussion-comment__text">${c.text}</p>        
									<div class="b-discussion-comment__footer">
										<a href="#" class="b-discussion-comment__footer__reply" id="reply_${c.id}" style="display: none;">Reply</a>
									</div>
									<div id="childComment_${c.id}">
										
									</div>
									<form action="@{MyOwnCourse.addhomeworkComment()}" class="b-discussion-reply-form" id="form_${c.id}">
										<img class=" b-discussion-comment__userpic b-user__profile-pic_45" 
										src="@{Application.userPhoto(c.user.id)}" width="45" height="45">				      								    
				            			<div class="b-discussion-comment__header">
											<a class="b-discussion-comment__header__username">
												#{if session.username }
									        	${session.username}
										        #{/if}
										        #{else}
										        	${session.email}
										        #{/else}   
									        </a>
										</div>
										<textarea name="text" class="auto-resize" required="required" style="width: 100%; resize:none; box-sizing: border-box;"></textarea>
										<div class="b-discussion-comment__footer">                    
											<input type="hidden" name="parent" value="${c.id}">        
											<input type="hidden" name="courseId" value="${course.id}" />
		            						<input type="hidden" name="homeworkId" value="${homework.id}" />       
					        				<button type="submit" class="btn btn-primary btn-mini" value="Send">Send</button>
											<span style="margin-left: 10px">
												<small><a href="#" class="anchor" id="cancel_${c.id}">cancel</a></small>
											</span>
										</div>
									</form>   
								</div>
							</li>
							#{/if}
							#{/list}
						</ul>    
					</div>	           
	                <div class="b-discussion-global-reply-container">
	        			<form action="@{MyOwnCourse.addhomeworkComment()}" class=" b-discussion-reply-form_global">
							<img class=" b-discussion-comment__userpic b-user__profile-pic_45" 
							src="@{Application.userPhoto(user.id)}" width="45" height="45">				      								    
				            <div class="b-discussion-comment__header">
						        <a class="b-discussion-comment__header__username">
							 		#{if session.username }
							        	${session.username}
							        #{/if}
							        #{else}
							        	${session.email}
							        #{/else}       
						        </a>
						    </div>
							<textarea name="text" class="auto-resize" required="required" style="width: 100%; resize:none; box-sizing: border-box;"></textarea>
							<div class="b-discussion-comment__footer">
		                    	<input type="hidden" name="courseId" value="${course.id}" />
		            			<input type="hidden" name="homeworkId" value="${homework.id}" />        
		        				<button type="submit" class="btn btn-primary btn-mini" value="Send">Send</button>
	            			</div>
						</form>
	    			</div>
	            </div>
        	</div>
		</div>
		<div class="span3">
		#{if course.user.email == session.email}
			<p><small><a href="@{MyOwnCourse.createHomework(course.id,homework.id)}">Edit</a></small></p>
		#{/if}
        	<p><small>Modified 3 days ago</small></p>        	
        	<p>
	        	<select class="span2" onchange="window.location.href = this.value" style="margin-bottom:0; line-height: 20px; height: 28px; vertical-align: top; width: 100%">
		            <option value="#">Change homework</option>
		            <option value="#" disabled="true">-------------</option>
		            #{list items:course.homeworks, as:'l'}
		            #{if l.id == homework.id}
						<option value="@{MyOwnCourse.homework(course.id,l.id)}" disabled="true" >${l.title?l.title:l.topic}</option>
					#{/if}						
					#{else}
						<option value="@{MyOwnCourse.homework(course.id,l.id)}" >${l.title?l.title:l.topic}</option>
					#{/else}
					#{/list}
				</select>
	    	</p>
    		<p><small><a href="@{MyOwnCourse.assignments(course.id)}" class="grey">Back to homework list</a></small></p>
    		<p><a href="@{MyOwnCourse.createChecker(course.id,homework.id)}">Add auto checker</a></p>
    	</div>
	</div>					
</div>  
#{set 'moreScripts'}    
<script type="text/javascript">
$(document).ready(function(){
    //$('.b-user__profile-pic_45[src=""]').hide();
		console.log('entered');
		if (typeof $('.b-user__profile-pic_45').attr("src")=="undefined" || $('.b-user__profile-pic_45').attr("src")=="") {
			$('.b-user__profile-pic_45').attr("src", "http://images.whereveryouhaveyourpictures.com/image7.png");
		}
});
function edit(id,score,pass)
{
	console.log('sulta '+id);
	console.log(score);
	console.log(pass);
	$("#userHomeworkId").val(id);
	$("#userScore").val(score);
	document.getElementById("userPass").checked=pass;
}
	console.log(${homework.comments.id});
	$(${homework.comments.id}).each(function(i){
		var comment = ${homework.comments.id}[i];
		var child = ${homework.comments.parent.id}[i];
        //console.log(comment);
        if(child){
            //console.log(comment);
            //$('#childComment_'+comment).show();
        	$('#childComment_'+child).append('<div>1</div>');
        }
    	$("#comment_"+comment).hover(function(){
    		$('#reply_'+comment).show();
    	},function(){
    	    $('#reply_'+comment).hide();
    	});
    	$("#reply_"+comment).on('click', function(){
    		$("#form_"+comment).slideToggle("slow");
    	});
    	$("#cancel_"+comment).on('click', function(){
    		$("#form_"+comment).slideToggle("slow");
    	});
    });
</script>
#{/set}  