#{extends 'main.html' /}
#{set title:'Home' /}
    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
<div class="container">   
	<div class="row">
	#{if myCourses}
		#{list items:myCourses, as:'i'}	
		<div class="span4">
			<div class="thumbnail">
				<a href="@{MyOwnCourse.myOwnCourse(i.course.id)}"><img src="@{Application.coursePhoto(i.course.id)}" style="width: 370px; height: 160px;"></a>
				<div class="caption">
					#{if i.course.isActive}
						Course is active
					#{/if}
					#{else}
						Course is not active
					#{/else}
					<h3>&{i.course.name}</h3>
					<p>
					#{if i.course.smallDescription}
						&{i.course.smallDescription}
					#{/if}
                  	#{else}
                  		No Description
                  	#{/else} 
					</p>					
				</div>
			</div>
		</div>
		#{/list}
	#{/if}	
	#{else}
		<h3>You haven't got any courses</h3>
	#{/else}
	</div>					
</div>