#{extends 'mainOwnCourse.html' /}
#{set title:'Home' /}

    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
   
<div class="container">   
	<div class="row">	
		<div class="span9">	
				<h2>External tutorials and resources</h2>
				#{if course?.resources}
					#{verbatim}
						${course.resources}
					#{/verbatim}
				#{/if}
				#{else}
					<p>No resourses</p>
				#{/else}						
				<hr />
				#{if course.user.email == session.email}			
					<script type="text/javascript" src="@{'/public/javascripts/nicEdit.js'}"></script>
					<script type="text/javascript">
						bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
					</script>	
					<h3>Edit.</h3>
					<form action="@{MyOwnCourse.editResourses()}" class="form-horizontal" method="post">				    	
						<textarea name="resources" style="width:100%;" >${course?.resources}</textarea>		
						<input type="hidden" name="courseId" value="&{course.id}"> 					
						<button type="submit" class="btn btn-primary">Edit</button>							
					</form>
				#{/if}
		</div>
	</div>					
</div> 
<script type="text/javascript">    
    function strip(html)
    {
       var tmp = document.createElement("DIV");
       tmp.innerHTML = html;
       return tmp.textContent||tmp.innerText;
    }
	</script>