#{extends 'main.html' /}
#{set title:'Code' /}

    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
   

<div class="container">   
	<div class="row">	
		<div class="span12">
			<ul class="thumbnails">
				<li class="span4">
					<a href="@{Code.js()}" class="thumbnail">
						<img src="@{'/public/images/code/js-thumb.png'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.python()}" class="thumbnail">
						<img src="@{'/public/images/code/python-thumb.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.java()}" class="thumbnail">
						<img src="@{'/public/images/code/java-thumb.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.css()}" class="thumbnail">
						<img src="@{'/public/images/code/css.png'}" style="width: 370px; height: 160px;">
					</a>
				</li>		
				<li class="span4">
					<a href="@{Code.scala()}" class="thumbnail">
						<img src="@{'/public/images/code/scala.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.ruby()}" class="thumbnail">
						<img src="@{'/public/images/code/ruby.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.html()}" class="thumbnail">
						<img src="@{'/public/images/code/html.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.sql()}" class="thumbnail">
						<img src="@{'/public/images/code/sql.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.c()}" class="thumbnail">
						<img src="@{'/public/images/code/c++.gif'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.coffeescript()}" class="thumbnail">
						<img src="@{'/public/images/code/coffescript.png'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.clojure()}" class="thumbnail">
						<img src="@{'/public/images/code/clojure.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="@{Code.php()}" class="thumbnail">
						<img src="@{'/public/images/code/php.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>																						
			</ul>
		</div>	 
	</div>					
</div>

 <script type="text/javascript">    

</script>